@model CrudDF3.Models.PaquetesTuristico

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PaquetesTuristico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisponibilidadPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisponibilidadPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinoPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinoPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoViajePaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoViajePaquete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPaquete" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
