@model IEnumerable<CrudDF3.Models.Habitacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadHuespedes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifaHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaracteristicasHabitacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadHuespedes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifaHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaracteristicasHabitacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHabitacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHabitacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHabitacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
