@model CrudDF3.Models.Huespede

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Huespede</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntradaHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntradaHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalidaHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalidaHuesped)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdHuesped" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
