@model CrudDF3.Models.Huespede

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Huespede</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntradaHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntradaHuesped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalidaHuesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalidaHuesped)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHuesped">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
